<!DOCTYPE html>
<html>
<head>
  <title>Restaurants</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
	/*Restaurants.ready = function() {
    	Restaurants.initApp($.parseJSON(<%= current_user_json %>))
    }*/
</script>
</body>
</html>
